@page
@model ValentineSite.Pages.ThanksModel
@{
    ViewData["Title"] = "УРАААААААААААААА";
}

<style>
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-image: url('https://w.forfun.com/fetch/33/3361ae17c665883af2d53ba3f12f18f6.jpeg');
        background-size: cover;
        font-family: Arial, sans-serif;
    }

    h2 {
        font-size: 3em;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        color: white;
        background-color: lightpink;
        border-radius: 8em;
        
    }

    p {
        font-size: 2em;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        color: white;
        background-color: lightpink;
        border-radius: 8em;
    }

    #proposal {
        text-align:center;
    }
</style>

<h2>@ViewData["Title"]</h2>
<div id="proposal">
    <p>Спасибо пучка:3</p>
    <img src="https://media.tenor.com/1jrUvITt1QcAAAAi/github-sticker.gif" alt="Cute gif">
</div>